<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.POST_NOTIFICATIONS"/>

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Proll"
        android:usesCleartextTraffic="true">
        <activity
            android:name=".Pr62"
            android:exported="false" />
        <activity
            android:name=".Pr6"
            android:exported="false" />
        <activity
            android:name=".Pr522"
            android:exported="false" />
        <activity
            android:name=".Pr52"
            android:exported="false" />
        <activity
            android:name=".Pr5"
            android:exported="false" />
        <activity
            android:name=".Pr42"
            android:exported="false" />

        <service
            android:name=".MyService"
            android:enabled="true"
            android:exported="true" />

        <activity
            android:name=".Practica4"
            android:exported="false" />
        <activity
            android:name=".Recyclerview3pr"
            android:exported="false" />
        <activity
            android:name=".Cars"
            android:exported="false" />
        <activity
            android:name=".Proglang"
            android:exported="false" />
        <activity
            android:name=".Games"
            android:exported="false" />
        <activity
            android:name=".Practica3"
            android:exported="false" />
        <activity
            android:name=".fragmentActivity"
            android:exported="false" />
        <activity
            android:name=".Main_setting"
            android:exported="true"
            android:parentActivityName=".MainActivity"
            android:theme="@style/Theme.AppCompat.Light.DarkActionBar" />
        <activity
            android:name=".Choose_room"
            android:exported="false" />
        <activity
            android:name=".Join_room"
            android:exported="false" />
        <activity
            android:name=".Room_create"
            android:exported="false" />
        <activity
            android:name=".Friends"
            android:exported="false" />
        <activity
            android:name=".Login"
            android:exported="false" />
        <activity
            android:name=".Mainscreen"
            android:exported="false"
            android:theme="@style/Theme.AppCompat.Light.DarkActionBar" />
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>